body{
    margin:0px;
    background:url('b2.jpg');
    margin-top:64px;
}
header{
    background:#673AB7;
    width:100%;
    height:64px;
    position:fixed;
    top:0px;
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    animation:slideIn .3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    z-index:2;
}
nav{
    background:#673AB7;
    width:100%;
    height:64px;
    box-shadow:0 -4px 5px 0 rgba(0,0,0,.14),0 -1px 10px 0 rgba(0,0,0,.12),0 -2px 4px -1px rgba(0,0,0,.2);
    animation:absslideIn .3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    font-size:0px;
    z-index:2;
}
@keyframes slideIn{
    from{
        position:fixed;
        left:100vw;
    }to{
        position:fixed;
        left:0px;
    }
}
@keyframes absSlideIn{
    from{
        position:absolute;
        left:100vw;
    }to{
        position:absolute;
        left:0px;
    }
}
header h1{
    font-family:"Space Mono";
    margin:0px;
    text-align:center;
    color:white;
    font-size:20px;
    line-height:64px;
}
nav a{
    font-family:"Space Mono";
    line-height:64px;
    color:white;
    font-weight:700;
    font-size:16px;
    padding:0px 16px;
    cursor:pointer;
    display:inline-block;
    transition:.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
nav a:hover{
    background:rgba(0,0,0,0.1)
}
nav .container{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
#header{
    height:256px;
    width:100%;
    background:url('background.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    background-size:0%;
    font-size:0px;
    animation:explode .3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards .3s; 
}
#header h1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-family:"Space Mono";
    white-space: nowrap;
    margin:0px;
    text-shadow:1px 3px 10px black;
}
@keyframes explode{
    from{
        background-size:0%;
        font-size:0px;
    }to{
        background-size:100%;
        font-size:56px;
    }
}
#marker{
    background:#448AFF;
    height:1px;
    position:absolute;
    bottom:1px;
    transition:.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
main h1{
    font-family:"Space Mono";
    margin:4px 0px;
}
.card{
    background:#303030;
    padding:16px;
    width:calc(100% - 32px);
    margin:16px;
    box-sizing: border-box;
    font-family:"Open Sans";
    color:white; 
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a{
    color:#448AFF;
    text-decoration:none;
}
/* RIPPLE EFFECT ======================================================= */

[data-rippleEffect="button"] {
    position: relative;
    /* Setting the element relative for reference */
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* box which contains the ripple */

[data-rippleEffect="box"] {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -999999999;
}
/* Ripple Effect style (background, border-radius, time) */

[data-rippleEffect="effect"] {
    animation: rippleEffect 300ms forwards;
    -moz-animation: rippleEffect 300ms forwards;
    -o-animation: rippleEffect 300ms forwards;
    -webkit-animation: rippleEffect 300ms forwards;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: absolute;
    opacity: 0;
}
/* Effect animation */

@-webkit-keyframes rippleEffect {
    0% {
        transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
/* Effect animation */

@keyframes rippleEffect {
    0% {
        transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        opacity: 1;
    }
    50% {
        transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}